body{
    font-family: Arial;
    text-align:center;
    margin-top:50px;
}

button{
    padding:10px 20px;
    margin:10px;
    font-size:16px;
    cursor:pointer;
}

/* ROUND ROTATING LOADER */

.loader{
    display:none;
    margin:20px auto;
    border:8px solid #f3f3f3;
    border-top:8px solid #3498db;
    border-radius:50%;
    width:60px;
    height:60px;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}