body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #cfd1d2;
}

h1 {
    text-align: center;
}

form {
    background-color: white;
    width: 350px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}
